ion-footer {
  background-color: #3f3c3c;
  /* Dark background */
  color: white;
  /* White text */
}

ion-footer a {
  color: #ccc;
  /* Light grey for links */
  text-decoration: none;
  /* No underline */
}

ion-footer a:hover {
  color: #fff;
  /* White on hover */
}

.footer-image {
  margin-top: 10px;
  width: 100px;
  /* Adjust size as needed */
}

.footer-logo {
  padding-bottom: 10px;
}

.footer-copyright {
  text-align: center;
  border-top: 1px solid #444;
  /* Border between content and copyright */
  padding-top: 10px;
  margin-top: 20px;
}

ion-toolbar {
  --ion-background-color: #1c1c1c;
  /* Ensuring the toolbar inherits the dark background */
}