.footer-logo {
  position: relative;
}

.footer-image {
  max-width: 100px; /* Tamaño máximo del logo */
  height: auto;
  margin-top: 10px;
}

ion-footer {
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto claro */
  padding: 10px 0;
}

h3 {
  color: #fff;
  font-size: 14px; /* Tamaño de fuente reducido */
  margin-bottom: 1px;
}

ion-item {
  --border-width: 0; /* Elimina los bordes en los items */
}

ion-item a {
  text-decoration: none;
  color: #fff;
}

ion-item a:hover {
  color: #ccc; /* Efecto hover para los enlaces en gris claro */
}

.footer-copyright {
  justify-content: center; /* Centra el texto de derechos de autor */
}

.copyright-text {
  color: #fff;
  font-size: 12px; /* Tamaño de fuente reducido */
  text-align: right;
  margin-right: 10px; /* Margen derecho opcional */
}

@media (max-width: 576px) {
  .footer-image {
    max-width: 80px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
  }
}
